.container{
    display: flex;
    justify-content: center;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.input{
    align-self: center;
    padding: 8px 16px !important;
    background-color: lightblue !important;
    border-width: 0 !important;
    margin: 0;
    border-radius: 8%;
}