body{
    font-family: roboto, sans-serif;
    background-color: rgb(7, 177, 177);
}

.container{
    display: flex;
    justify-content: center;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.input:hover{
    background-color: rgb(94, 132, 145);
}
.input{
    align-self: center;
    
    font-size: large;
    padding: 8px 16px ;
    background-color: lightblue;
    border: none;
    margin: 0;
    border-radius: 8%;
}